/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?uvl9yf");
  src: url("../fonts/icomoon.eot?uvl9yf#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?uvl9yf") format("truetype"), url("../fonts/icomoon.woff?uvl9yf") format("woff"), url("../fonts/icomoon.svg?uvl9yf#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 19, ../sass/screen.scss */
[class^="mfp-icon-"], [class*=" mfp-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 34, ../sass/screen.scss */
.mfp-icon-cc:before {
  content: "\e907";
}

/* line 37, ../sass/screen.scss */
.mfp-icon-volume-mute:before {
  content: "\e908";
}

/* line 40, ../sass/screen.scss */
.mfp-icon-download:before {
  content: "\e900";
}

/* line 43, ../sass/screen.scss */
.mfp-icon-chapters:before {
  content: "\e901";
}

/* line 46, ../sass/screen.scss */
.mfp-icon-hd:before {
  content: "\e052";
}

/* line 49, ../sass/screen.scss */
.mfp-icon-airplay:before {
  content: "\e055";
}

/* line 52, ../sass/screen.scss */
.mfp-icon-html:before {
  content: "\e902";
}

/* line 55, ../sass/screen.scss */
.mfp-icon-txt:before {
  content: "\e903";
}

/* line 58, ../sass/screen.scss */
.mfp-icon-ld:before {
  content: "\e904";
}

/* line 61, ../sass/screen.scss */
.mfp-icon-info:before {
  content: "\e905";
}

/* line 64, ../sass/screen.scss */
.mfp-icon-live:before {
  content: "\e906";
}

/* line 67, ../sass/screen.scss */
.mfp-icon-videos:before {
  content: "\f008";
}

/* line 70, ../sass/screen.scss */
.mfp-icon-pref:before {
  content: "\f013";
}

/* line 73, ../sass/screen.scss */
.mfp-icon-volume-off:before {
  content: "\f026";
}

/* line 76, ../sass/screen.scss */
.mfp-icon-volume-down:before {
  content: "\f027";
}

/* line 79, ../sass/screen.scss */
.mfp-icon-volume-up:before {
  content: "\f028";
}

/* line 82, ../sass/screen.scss */
.mfp-icon-backward:before {
  content: "\f04a";
}

/* line 85, ../sass/screen.scss */
.mfp-icon-play:before {
  content: "\f04b";
}

/* line 88, ../sass/screen.scss */
.mfp-icon-pause:before {
  content: "\f04c";
}

/* line 91, ../sass/screen.scss */
.mfp-icon-stop:before {
  content: "\f04d";
}

/* line 94, ../sass/screen.scss */
.mfp-icon-forward:before {
  content: "\f04e";
}

/* line 97, ../sass/screen.scss */
.mfp-icon-expand:before {
  content: "\f065";
}

/* line 100, ../sass/screen.scss */
.mfp-icon-compress:before {
  content: "\f066";
}

/* line 103, ../sass/screen.scss */
.mfp-icon-audio-description:before {
  content: "\f29e";
}

/* line 106, ../sass/screen.scss */
.mfp-icon-sign-language:before {
  content: "\f2a3";
}

/* line 110, ../sass/screen.scss */
ul.mfp_list {
  list-style: none;
}
/* line 112, ../sass/screen.scss */
ul.mfp_list li {
  line-height: 20px;
}
/* line 114, ../sass/screen.scss */
ul.mfp_list li.focus, ul.mfp_list li:hover {
  background-color: #CCC;
  cursor: pointer;
}

/* line 120, ../sass/screen.scss */
.mfp-hidden {
  text-indent: -10000px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

/* line 127, ../sass/screen.scss */
.mfp-tooltip {
  box-shadow: 0 0 2px black !important;
}

/* line 130, ../sass/screen.scss */
.mfp-wrapper {
  background-color: #000;
  position: relative;
  /*Chrome*/
  /** FF*/
  /* IE*/
}
/* line 134, ../sass/screen.scss */
.mfp-wrapper video.mfp {
  max-width: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
}
/* line 140, ../sass/screen.scss */
.mfp-wrapper.fullscreen {
  width: 100%;
  height: 100%;
}
/* line 143, ../sass/screen.scss */
.mfp-wrapper.fullscreen video.mfp {
  width: 100%;
  height: calc(100% - 90px);
}
/* line 147, ../sass/screen.scss */
.mfp-wrapper.fullscreen .control-bar {
  padding-bottom: 15px;
}
/* line 151, ../sass/screen.scss */
.mfp-wrapper .control-bar {
  z-index: 2;
  padding-top: 8px;
  position: relative;
  width: 100%;
  display: block;
  height: auto;
  background-color: #333;
}
/* line 160, ../sass/screen.scss */
.mfp-wrapper .control-bar:after {
  clear: both;
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 10px;
}
/* line 168, ../sass/screen.scss */
.mfp-wrapper .control-bar .progress-buffer {
  position: absolute;
  left: 10px;
  top: 8px;
  right: 10px;
  height: 8px;
  width: calc(100% - 20px);
  background-color: #CCC;
  z-index: 1;
}
/* line 177, ../sass/screen.scss */
.mfp-wrapper .control-bar .progress-buffer .buffer {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #999933;
}
/* line 186, ../sass/screen.scss */
.mfp-wrapper .control-bar .progress-bar {
  z-index: 2;
  position: relative;
  display: block;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% - 20px);
  height: 8px;
  background-color: transparent;
}
/* line 196, ../sass/screen.scss */
.mfp-wrapper .control-bar .progress-bar .ui-widget-header {
  background: #43e5f7;
}
/* line 200, ../sass/screen.scss */
.mfp-wrapper .control-bar .left-part {
  position: relative;
  float: left;
  padding-left: 3px;
  padding-bottom: 10px;
  min-height: 30px;
}
/* line 206, ../sass/screen.scss */
.mfp-wrapper .control-bar .left-part button {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 32px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  background-color: transparent;
  color: #FFF;
  cursor: pointer;
}
/* line 219, ../sass/screen.scss */
.mfp-wrapper .control-bar .left-part button:focus {
  outline-color: yellow;
  outline-style: solid;
  outline-width: 1px;
}
/* line 224, ../sass/screen.scss */
.mfp-wrapper .control-bar .left-part button.play, .mfp-wrapper .control-bar .left-part button.pause, .mfp-wrapper .control-bar .left-part button.chapters {
  position: relative;
  margin: 0 5px;
  padding: 0 5px;
  line-height: 30px;
  font-size: 28px;
}
/* line 230, ../sass/screen.scss */
.mfp-wrapper .control-bar .left-part button.play:hover, .mfp-wrapper .control-bar .left-part button.pause:hover, .mfp-wrapper .control-bar .left-part button.chapters:hover {
  color: #CCC;
}
/* line 234, ../sass/screen.scss */
.mfp-wrapper .control-bar .left-part .soundPart {
  position: relative;
}
/* line 236, ../sass/screen.scss */
.mfp-wrapper .control-bar .left-part .soundPart button.sound {
  position: relative;
  margin: 0 5px;
  padding: 0 5px;
  line-height: 30px;
  width: 38px;
  text-align: left;
  font-size: 28px;
}
/* line 244, ../sass/screen.scss */
.mfp-wrapper .control-bar .left-part .soundPart button.sound:hover {
  color: #CCC;
}
/* line 248, ../sass/screen.scss */
.mfp-wrapper .control-bar .left-part .soundPart .sound-range {
  display: inline-block;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-left: 10px;
  height: 10px;
}
/* line 255, ../sass/screen.scss */
.mfp-wrapper .control-bar .left-part .soundPart .sound-range .ui-widget-header {
  background: #43e5f7;
}
/* line 258, ../sass/screen.scss */
.mfp-wrapper .control-bar .left-part .soundPart .sound-range .ui-slider-handle {
  height: 16px;
}
/* line 263, ../sass/screen.scss */
.mfp-wrapper .control-bar .left-part .soundPart input[type='range']:focus {
  outline-color: yellow;
  outline-style: solid;
  outline-width: 1px;
}
/* line 270, ../sass/screen.scss */
.mfp-wrapper .control-bar .left-part .timer {
  position: relative;
  display: inline-block;
  height: 50px;
  margin-left: 5px;
  font-size: 20px;
  color: #CCC;
  line-height: 50px;
}
/* line 280, ../sass/screen.scss */
.mfp-wrapper .control-bar select:focus {
  outline-color: yellow;
  outline-style: solid;
  outline-width: 1px;
}
/* line 285, ../sass/screen.scss */
.mfp-wrapper .control-bar .right-part {
  position: relative;
  float: right;
  padding-right: 3px;
  padding-bottom: 10px;
  min-height: 30px;
  z-index: 3;
}
/* line 293, ../sass/screen.scss */
.mfp-wrapper .control-bar .right-part select.speed {
  margin: 0;
  text-align: right;
  line-height: 30px;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  color: #FFF;
  font-size: 28px;
  width: 73px;
  direction: rtl;
}
/* line 304, ../sass/screen.scss */
.mfp-wrapper .control-bar .right-part select.speed option {
  text-align: right;
  direction: ltr;
}
/* line 309, ../sass/screen.scss */
.mfp-wrapper .control-bar .right-part button {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  background-color: transparent;
  color: #FFF;
  cursor: pointer;
  width: 38px;
  height: 32px;
  overflow: hidden;
  font-size: 28px;
  line-height: 30px;
}
/* line 323, ../sass/screen.scss */
.mfp-wrapper .control-bar .right-part button.off {
  color: #888;
}
/* line 327, ../sass/screen.scss */
.mfp-wrapper .control-bar .right-part .ui-dialog-titlebar button.ui-button {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: white;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  height: 20px;
  letter-spacing: normal;
  line-height: 21px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -10px;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  position: absolute;
  right: 5.28000020980835px;
  text-align: center;
  text-decoration: none;
  text-indent: -9999px;
  top: 50%;
  vertical-align: middle;
  white-space: nowrap;
  width: 20px;
}
/* line 359, ../sass/screen.scss */
.mfp-wrapper .control-bar .right-part button:focus {
  outline-color: yellow;
  outline-style: solid;
  outline-width: 1px;
}
/* line 364, ../sass/screen.scss */
.mfp-wrapper .control-bar .right-part button.expand {
  position: relative;
  margin: 0 5px;
  padding: 0 5px;
  line-height: 30px;
  font-size: 28px;
}
/* line 370, ../sass/screen.scss */
.mfp-wrapper .control-bar .right-part button.expand:hover {
  color: #CCC;
}
/* line 374, ../sass/screen.scss */
.mfp-wrapper .control-bar .right-part .subtitles-block, .mfp-wrapper .control-bar .right-part .pref-block, .mfp-wrapper .control-bar .right-part .videos-block, .mfp-wrapper .control-bar .right-part .transcripts-block, .mfp-wrapper .control-bar .right-part .chapters-block {
  display: inline-block;
  position: relative;
  height: 100%;
}
/* line 378, ../sass/screen.scss */
.mfp-wrapper .control-bar .right-part .subtitles-block li.preferences, .mfp-wrapper .control-bar .right-part .pref-block li.preferences, .mfp-wrapper .control-bar .right-part .videos-block li.preferences, .mfp-wrapper .control-bar .right-part .transcripts-block li.preferences, .mfp-wrapper .control-bar .right-part .chapters-block li.preferences {
  text-align: right;
  font-size: 80%;
}
/* line 381, ../sass/screen.scss */
.mfp-wrapper .control-bar .right-part .subtitles-block li.preferences span, .mfp-wrapper .control-bar .right-part .pref-block li.preferences span, .mfp-wrapper .control-bar .right-part .videos-block li.preferences span, .mfp-wrapper .control-bar .right-part .transcripts-block li.preferences span, .mfp-wrapper .control-bar .right-part .chapters-block li.preferences span {
  font-size: 100%;
}
/* line 389, ../sass/screen.scss */
.mfp-wrapper .menu {
  list-style: none;
  padding-left: 0;
}
/* line 392, ../sass/screen.scss */
.mfp-wrapper .menu label {
  font-size: 24px;
  line-height: 1.5;
}
/* line 395, ../sass/screen.scss */
.mfp-wrapper .menu label span.mfp-label-name {
  display: inline-block;
  text-align: right;
  width: 270px;
}
/* line 399, ../sass/screen.scss */
.mfp-wrapper .menu label span.mfp-label-name:after {
  content: ' : ';
}
/* line 404, ../sass/screen.scss */
.mfp-wrapper .menu li {
  line-height: 1.5;
  margin-left: 0;
  font-size: 24px;
  padding: 0 5px;
}
/* line 409, ../sass/screen.scss */
.mfp-wrapper .menu li [class^="icon-"] {
  font-size: 24px;
}
/* line 412, ../sass/screen.scss */
.mfp-wrapper .menu li.selected {
  background: #999;
}
/* line 415, ../sass/screen.scss */
.mfp-wrapper .menu li div.ui-state-active {
  background: #CCC;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 423, ../sass/screen.scss */
  .mfp-wrapper input[type='range'] {
    overflow: hidden;
    width: 80px;
    -webkit-appearance: none;
    background-color: #111;
  }
  /* line 430, ../sass/screen.scss */
  .mfp-wrapper input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }
  /* line 437, ../sass/screen.scss */
  .mfp-wrapper input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #CCC;
    box-shadow: -8000px 0 0 8000px #43e5f7;
  }
}
/* line 448, ../sass/screen.scss */
.mfp-wrapper input[type="range"]::-moz-range-progress {
  background-color: #43e5f7;
}
/* line 451, ../sass/screen.scss */
.mfp-wrapper input[type="range"]::-moz-range-track {
  background-color: #111;
}
/* line 455, ../sass/screen.scss */
.mfp-wrapper input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
}
/* line 458, ../sass/screen.scss */
.mfp-wrapper input[type="range"]::-ms-fill-upper {
  background-color: #111;
}

/* line 462, ../sass/screen.scss */
.ui-dialog .ui-dialog-content.ui-menu {
  padding: 0;
}

/* line 466, ../sass/screen.scss */
[class^="live-"].selected {
  color: red;
}

/* line 470, ../sass/screen.scss */
.mfp-live {
  cursor: pointer;
}

/* line 474, ../sass/screen.scss */
.mfp-wrapper [class^="sub-"] {
  box-sizing: border-box;
  position: absolute;
}
/* line 479, ../sass/screen.scss */
.mfp-wrapper .mfp-subtitles-wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 10%;
  width: 80%;
  height: calc(100% - 93px);
}
/* line 487, ../sass/screen.scss */
.mfp-wrapper video::cue {
  font-family: Roboto, 'Arial Unicode Ms', Arial, Helvetica, Verdana, 'PT Sans Caption', sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
/* line 492, ../sass/screen.scss */
.mfp-wrapper .mfp-subtitles {
  padding: 0.35%;
  border-radius: 5px;
  font-family: Roboto, 'Arial Unicode Ms', Arial, Helvetica, Verdana, 'PT Sans Caption', sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 501, ../sass/screen.scss */
.mfp-wrapper.font-family-s-mono .mfp-subtitles {
  font-family: 'Courier New', Courier, 'Nimbus Mono L', 'Cutive Mono', monospace;
}
/* line 504, ../sass/screen.scss */
.mfp-wrapper.font-family-s-mono video::cue {
  font-family: 'Courier New', Courier, 'Nimbus Mono L', 'Cutive Mono', monospace;
}
/* line 509, ../sass/screen.scss */
.mfp-wrapper.font-family-s-prop .mfp-subtitles {
  font-family: 'Times New Roman', Times, Georgia, Cambria, 'PT Serif Caption', serif;
}
/* line 512, ../sass/screen.scss */
.mfp-wrapper.font-family-s-prop video::cue {
  font-family: 'Times New Roman', Times, Georgia, Cambria, 'PT Serif Caption', serif;
}
/* line 517, ../sass/screen.scss */
.mfp-wrapper.font-family-ss-mono .mfp-subtitles {
  font-family: 'Deja Vu Sans Mono', 'Lucida Console', Monaco, Consolas, 'PT Mono', monospace;
}
/* line 520, ../sass/screen.scss */
.mfp-wrapper.font-family-ss-mono video::cue {
  font-family: 'Deja Vu Sans Mono', 'Lucida Console', Monaco, Consolas, 'PT Mono', monospace;
}
/* line 525, ../sass/screen.scss */
.mfp-wrapper.font-family-ss-prop .mfp-subtitles {
  font-family: Roboto, 'Arial Unicode Ms', Arial, Helvetica, Verdana, 'PT Sans Caption', sans-serif;
}
/* line 528, ../sass/screen.scss */
.mfp-wrapper.font-family-ss-prop video::cue {
  font-family: Roboto, 'Arial Unicode Ms', Arial, Helvetica, Verdana, 'PT Sans Caption', sans-serif;
}
/* line 533, ../sass/screen.scss */
.mfp-wrapper.font-family-c .mfp-subtitles {
  font-family: 'Monotype Corsiva', 'URW Chancery L', 'Apple Chancery', 'Dancing Script', cursive;
}
/* line 536, ../sass/screen.scss */
.mfp-wrapper.font-family-c video::cue {
  font-family: 'Monotype Corsiva', 'URW Chancery L', 'Apple Chancery', 'Dancing Script', cursive;
}
/* line 541, ../sass/screen.scss */
.mfp-wrapper.font-family-sc .mfp-subtitles {
  font-family: 'Alegreya Sans SC', sans-serif;
}
/* line 544, ../sass/screen.scss */
.mfp-wrapper.font-family-sc video::cue {
  font-family: 'Alegreya Sans SC', sans-serif;
}
/* line 549, ../sass/screen.scss */
.mfp-wrapper.font-color-white .mfp-subtitles {
  color: white;
}
/* line 552, ../sass/screen.scss */
.mfp-wrapper.font-color-white video::cue {
  color: white;
}
/* line 557, ../sass/screen.scss */
.mfp-wrapper.font-color-yellow .mfp-subtitles {
  color: yellow;
}
/* line 560, ../sass/screen.scss */
.mfp-wrapper.font-color-yellow video::cue {
  color: yellow;
}
/* line 565, ../sass/screen.scss */
.mfp-wrapper.font-color-green .mfp-subtitles {
  color: green;
}
/* line 568, ../sass/screen.scss */
.mfp-wrapper.font-color-green video::cue {
  color: green;
}
/* line 573, ../sass/screen.scss */
.mfp-wrapper.font-color-cyan .mfp-subtitles {
  color: cyan;
}
/* line 576, ../sass/screen.scss */
.mfp-wrapper.font-color-cyan video::cue {
  color: cyan;
}
/* line 581, ../sass/screen.scss */
.mfp-wrapper.font-color-blue .mfp-subtitles {
  color: blue;
}
/* line 584, ../sass/screen.scss */
.mfp-wrapper.font-color-blue video::cue {
  color: blue;
}
/* line 589, ../sass/screen.scss */
.mfp-wrapper.font-color-magenta .mfp-subtitles {
  color: magenta;
}
/* line 592, ../sass/screen.scss */
.mfp-wrapper.font-color-magenta video::cue {
  color: magenta;
}
/* line 597, ../sass/screen.scss */
.mfp-wrapper.font-color-red .mfp-subtitles {
  color: red;
}
/* line 600, ../sass/screen.scss */
.mfp-wrapper.font-color-red video::cue {
  color: red;
}
/* line 605, ../sass/screen.scss */
.mfp-wrapper.font-color-black .mfp-subtitles {
  color: black;
}
/* line 608, ../sass/screen.scss */
.mfp-wrapper.font-color-black video::cue {
  color: black;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FFFFFF-0 .mfp-subtitles {
  text-shadow: -0px -0px 0 #FFFFFF, 0px -0px 0 #FFFFFF, -0px 0px 0 #FFFFFF, 0px 0px 0 #FFFFFF;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FFFFFF-0 video::cue {
  text-shadow: -0px -0px 0 #FFFFFF, 0px -0px 0 #FFFFFF, -0px 0px 0 #FFFFFF, 0px 0px 0 #FFFFFF;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FFFFFF-1 .mfp-subtitles {
  text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FFFFFF-1 video::cue {
  text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FFFFFF-3 .mfp-subtitles {
  text-shadow: -3px -3px 0 #FFFFFF, 3px -3px 0 #FFFFFF, -3px 3px 0 #FFFFFF, 3px 3px 0 #FFFFFF;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FFFFFF-3 video::cue {
  text-shadow: -3px -3px 0 #FFFFFF, 3px -3px 0 #FFFFFF, -3px 3px 0 #FFFFFF, 3px 3px 0 #FFFFFF;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FFFFFF-5 .mfp-subtitles {
  text-shadow: -5px -5px 0 #FFFFFF, 5px -5px 0 #FFFFFF, -5px 5px 0 #FFFFFF, 5px 5px 0 #FFFFFF;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FFFFFF-5 video::cue {
  text-shadow: -5px -5px 0 #FFFFFF, 5px -5px 0 #FFFFFF, -5px 5px 0 #FFFFFF, 5px 5px 0 #FFFFFF;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FFFF00-0 .mfp-subtitles {
  text-shadow: -0px -0px 0 #FFFF00, 0px -0px 0 #FFFF00, -0px 0px 0 #FFFF00, 0px 0px 0 #FFFF00;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FFFF00-0 video::cue {
  text-shadow: -0px -0px 0 #FFFF00, 0px -0px 0 #FFFF00, -0px 0px 0 #FFFF00, 0px 0px 0 #FFFF00;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FFFF00-1 .mfp-subtitles {
  text-shadow: -1px -1px 0 #FFFF00, 1px -1px 0 #FFFF00, -1px 1px 0 #FFFF00, 1px 1px 0 #FFFF00;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FFFF00-1 video::cue {
  text-shadow: -1px -1px 0 #FFFF00, 1px -1px 0 #FFFF00, -1px 1px 0 #FFFF00, 1px 1px 0 #FFFF00;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FFFF00-3 .mfp-subtitles {
  text-shadow: -3px -3px 0 #FFFF00, 3px -3px 0 #FFFF00, -3px 3px 0 #FFFF00, 3px 3px 0 #FFFF00;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FFFF00-3 video::cue {
  text-shadow: -3px -3px 0 #FFFF00, 3px -3px 0 #FFFF00, -3px 3px 0 #FFFF00, 3px 3px 0 #FFFF00;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FFFF00-5 .mfp-subtitles {
  text-shadow: -5px -5px 0 #FFFF00, 5px -5px 0 #FFFF00, -5px 5px 0 #FFFF00, 5px 5px 0 #FFFF00;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FFFF00-5 video::cue {
  text-shadow: -5px -5px 0 #FFFF00, 5px -5px 0 #FFFF00, -5px 5px 0 #FFFF00, 5px 5px 0 #FFFF00;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-008000-0 .mfp-subtitles {
  text-shadow: -0px -0px 0 #008000, 0px -0px 0 #008000, -0px 0px 0 #008000, 0px 0px 0 #008000;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-008000-0 video::cue {
  text-shadow: -0px -0px 0 #008000, 0px -0px 0 #008000, -0px 0px 0 #008000, 0px 0px 0 #008000;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-008000-1 .mfp-subtitles {
  text-shadow: -1px -1px 0 #008000, 1px -1px 0 #008000, -1px 1px 0 #008000, 1px 1px 0 #008000;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-008000-1 video::cue {
  text-shadow: -1px -1px 0 #008000, 1px -1px 0 #008000, -1px 1px 0 #008000, 1px 1px 0 #008000;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-008000-3 .mfp-subtitles {
  text-shadow: -3px -3px 0 #008000, 3px -3px 0 #008000, -3px 3px 0 #008000, 3px 3px 0 #008000;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-008000-3 video::cue {
  text-shadow: -3px -3px 0 #008000, 3px -3px 0 #008000, -3px 3px 0 #008000, 3px 3px 0 #008000;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-008000-5 .mfp-subtitles {
  text-shadow: -5px -5px 0 #008000, 5px -5px 0 #008000, -5px 5px 0 #008000, 5px 5px 0 #008000;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-008000-5 video::cue {
  text-shadow: -5px -5px 0 #008000, 5px -5px 0 #008000, -5px 5px 0 #008000, 5px 5px 0 #008000;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-00FFFF-0 .mfp-subtitles {
  text-shadow: -0px -0px 0 #00FFFF, 0px -0px 0 #00FFFF, -0px 0px 0 #00FFFF, 0px 0px 0 #00FFFF;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-00FFFF-0 video::cue {
  text-shadow: -0px -0px 0 #00FFFF, 0px -0px 0 #00FFFF, -0px 0px 0 #00FFFF, 0px 0px 0 #00FFFF;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-00FFFF-1 .mfp-subtitles {
  text-shadow: -1px -1px 0 #00FFFF, 1px -1px 0 #00FFFF, -1px 1px 0 #00FFFF, 1px 1px 0 #00FFFF;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-00FFFF-1 video::cue {
  text-shadow: -1px -1px 0 #00FFFF, 1px -1px 0 #00FFFF, -1px 1px 0 #00FFFF, 1px 1px 0 #00FFFF;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-00FFFF-3 .mfp-subtitles {
  text-shadow: -3px -3px 0 #00FFFF, 3px -3px 0 #00FFFF, -3px 3px 0 #00FFFF, 3px 3px 0 #00FFFF;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-00FFFF-3 video::cue {
  text-shadow: -3px -3px 0 #00FFFF, 3px -3px 0 #00FFFF, -3px 3px 0 #00FFFF, 3px 3px 0 #00FFFF;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-00FFFF-5 .mfp-subtitles {
  text-shadow: -5px -5px 0 #00FFFF, 5px -5px 0 #00FFFF, -5px 5px 0 #00FFFF, 5px 5px 0 #00FFFF;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-00FFFF-5 video::cue {
  text-shadow: -5px -5px 0 #00FFFF, 5px -5px 0 #00FFFF, -5px 5px 0 #00FFFF, 5px 5px 0 #00FFFF;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-0000FF-0 .mfp-subtitles {
  text-shadow: -0px -0px 0 #0000FF, 0px -0px 0 #0000FF, -0px 0px 0 #0000FF, 0px 0px 0 #0000FF;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-0000FF-0 video::cue {
  text-shadow: -0px -0px 0 #0000FF, 0px -0px 0 #0000FF, -0px 0px 0 #0000FF, 0px 0px 0 #0000FF;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-0000FF-1 .mfp-subtitles {
  text-shadow: -1px -1px 0 #0000FF, 1px -1px 0 #0000FF, -1px 1px 0 #0000FF, 1px 1px 0 #0000FF;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-0000FF-1 video::cue {
  text-shadow: -1px -1px 0 #0000FF, 1px -1px 0 #0000FF, -1px 1px 0 #0000FF, 1px 1px 0 #0000FF;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-0000FF-3 .mfp-subtitles {
  text-shadow: -3px -3px 0 #0000FF, 3px -3px 0 #0000FF, -3px 3px 0 #0000FF, 3px 3px 0 #0000FF;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-0000FF-3 video::cue {
  text-shadow: -3px -3px 0 #0000FF, 3px -3px 0 #0000FF, -3px 3px 0 #0000FF, 3px 3px 0 #0000FF;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-0000FF-5 .mfp-subtitles {
  text-shadow: -5px -5px 0 #0000FF, 5px -5px 0 #0000FF, -5px 5px 0 #0000FF, 5px 5px 0 #0000FF;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-0000FF-5 video::cue {
  text-shadow: -5px -5px 0 #0000FF, 5px -5px 0 #0000FF, -5px 5px 0 #0000FF, 5px 5px 0 #0000FF;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FF00FF-0 .mfp-subtitles {
  text-shadow: -0px -0px 0 #FF00FF, 0px -0px 0 #FF00FF, -0px 0px 0 #FF00FF, 0px 0px 0 #FF00FF;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FF00FF-0 video::cue {
  text-shadow: -0px -0px 0 #FF00FF, 0px -0px 0 #FF00FF, -0px 0px 0 #FF00FF, 0px 0px 0 #FF00FF;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FF00FF-1 .mfp-subtitles {
  text-shadow: -1px -1px 0 #FF00FF, 1px -1px 0 #FF00FF, -1px 1px 0 #FF00FF, 1px 1px 0 #FF00FF;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FF00FF-1 video::cue {
  text-shadow: -1px -1px 0 #FF00FF, 1px -1px 0 #FF00FF, -1px 1px 0 #FF00FF, 1px 1px 0 #FF00FF;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FF00FF-3 .mfp-subtitles {
  text-shadow: -3px -3px 0 #FF00FF, 3px -3px 0 #FF00FF, -3px 3px 0 #FF00FF, 3px 3px 0 #FF00FF;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FF00FF-3 video::cue {
  text-shadow: -3px -3px 0 #FF00FF, 3px -3px 0 #FF00FF, -3px 3px 0 #FF00FF, 3px 3px 0 #FF00FF;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FF00FF-5 .mfp-subtitles {
  text-shadow: -5px -5px 0 #FF00FF, 5px -5px 0 #FF00FF, -5px 5px 0 #FF00FF, 5px 5px 0 #FF00FF;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FF00FF-5 video::cue {
  text-shadow: -5px -5px 0 #FF00FF, 5px -5px 0 #FF00FF, -5px 5px 0 #FF00FF, 5px 5px 0 #FF00FF;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FF0000-0 .mfp-subtitles {
  text-shadow: -0px -0px 0 #FF0000, 0px -0px 0 #FF0000, -0px 0px 0 #FF0000, 0px 0px 0 #FF0000;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FF0000-0 video::cue {
  text-shadow: -0px -0px 0 #FF0000, 0px -0px 0 #FF0000, -0px 0px 0 #FF0000, 0px 0px 0 #FF0000;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FF0000-1 .mfp-subtitles {
  text-shadow: -1px -1px 0 #FF0000, 1px -1px 0 #FF0000, -1px 1px 0 #FF0000, 1px 1px 0 #FF0000;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FF0000-1 video::cue {
  text-shadow: -1px -1px 0 #FF0000, 1px -1px 0 #FF0000, -1px 1px 0 #FF0000, 1px 1px 0 #FF0000;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FF0000-3 .mfp-subtitles {
  text-shadow: -3px -3px 0 #FF0000, 3px -3px 0 #FF0000, -3px 3px 0 #FF0000, 3px 3px 0 #FF0000;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FF0000-3 video::cue {
  text-shadow: -3px -3px 0 #FF0000, 3px -3px 0 #FF0000, -3px 3px 0 #FF0000, 3px 3px 0 #FF0000;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FF0000-5 .mfp-subtitles {
  text-shadow: -5px -5px 0 #FF0000, 5px -5px 0 #FF0000, -5px 5px 0 #FF0000, 5px 5px 0 #FF0000;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-FF0000-5 video::cue {
  text-shadow: -5px -5px 0 #FF0000, 5px -5px 0 #FF0000, -5px 5px 0 #FF0000, 5px 5px 0 #FF0000;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-000000-0 .mfp-subtitles {
  text-shadow: -0px -0px 0 #000000, 0px -0px 0 #000000, -0px 0px 0 #000000, 0px 0px 0 #000000;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-000000-0 video::cue {
  text-shadow: -0px -0px 0 #000000, 0px -0px 0 #000000, -0px 0px 0 #000000, 0px 0px 0 #000000;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-000000-1 .mfp-subtitles {
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-000000-1 video::cue {
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-000000-3 .mfp-subtitles {
  text-shadow: -3px -3px 0 #000000, 3px -3px 0 #000000, -3px 3px 0 #000000, 3px 3px 0 #000000;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-000000-3 video::cue {
  text-shadow: -3px -3px 0 #000000, 3px -3px 0 #000000, -3px 3px 0 #000000, 3px 3px 0 #000000;
}
/* line 620, ../sass/screen.scss */
.mfp-wrapper.font-shadow-000000-5 .mfp-subtitles {
  text-shadow: -5px -5px 0 #000000, 5px -5px 0 #000000, -5px 5px 0 #000000, 5px 5px 0 #000000;
}
/* line 623, ../sass/screen.scss */
.mfp-wrapper.font-shadow-000000-5 video::cue {
  text-shadow: -5px -5px 0 #000000, 5px -5px 0 #000000, -5px 5px 0 #000000, 5px 5px 0 #000000;
}
/* line 633, ../sass/screen.scss */
.mfp-wrapper.background-white-0 .mfp-subtitles {
  background-color: rgba(255, 255, 255, 0) !important;
}
/* line 640, ../sass/screen.scss */
.mfp-wrapper.background-white-0 video::cue {
  background-color: rgba(255, 255, 255, 0) !important;
}
/* line 649, ../sass/screen.scss */
.mfp-wrapper.background-yellow-0 .mfp-subtitles {
  background-color: rgba(255, 255, 0, 0) !important;
}
/* line 656, ../sass/screen.scss */
.mfp-wrapper.background-yellow-0 video::cue {
  background-color: rgba(255, 255, 0, 0) !important;
}
/* line 665, ../sass/screen.scss */
.mfp-wrapper.background-green-0 .mfp-subtitles {
  background-color: rgba(0, 128, 0, 0) !important;
}
/* line 672, ../sass/screen.scss */
.mfp-wrapper.background-green-0 video::cue {
  background-color: rgba(0, 128, 0, 0) !important;
}
/* line 681, ../sass/screen.scss */
.mfp-wrapper.background-cyan-0 .mfp-subtitles {
  background-color: rgba(0, 255, 255, 0) !important;
}
/* line 688, ../sass/screen.scss */
.mfp-wrapper.background-cyan-0 video::cue {
  background-color: rgba(0, 255, 255, 0) !important;
}
/* line 697, ../sass/screen.scss */
.mfp-wrapper.background-blue-0 .mfp-subtitles {
  background-color: rgba(0, 0, 255, 0) !important;
}
/* line 704, ../sass/screen.scss */
.mfp-wrapper.background-blue-0 video::cue {
  background-color: rgba(0, 0, 255, 0) !important;
}
/* line 713, ../sass/screen.scss */
.mfp-wrapper.background-magenta-0 .mfp-subtitles {
  background-color: rgba(255, 0, 255, 0) !important;
}
/* line 720, ../sass/screen.scss */
.mfp-wrapper.background-magenta-0 video::cue {
  background-color: rgba(255, 0, 255, 0) !important;
}
/* line 729, ../sass/screen.scss */
.mfp-wrapper.background-red-0 .mfp-subtitles {
  background-color: rgba(255, 0, 0, 0) !important;
}
/* line 736, ../sass/screen.scss */
.mfp-wrapper.background-red-0 video::cue {
  background-color: rgba(255, 0, 0, 0) !important;
}
/* line 745, ../sass/screen.scss */
.mfp-wrapper.background-black-0 .mfp-subtitles {
  background-color: transparent !important;
}
/* line 752, ../sass/screen.scss */
.mfp-wrapper.background-black-0 video::cue {
  background-color: transparent !important;
}
/* line 633, ../sass/screen.scss */
.mfp-wrapper.background-white-25 .mfp-subtitles {
  background-color: rgba(255, 255, 255, 0.25) !important;
}
/* line 640, ../sass/screen.scss */
.mfp-wrapper.background-white-25 video::cue {
  background-color: rgba(255, 255, 255, 0.25) !important;
}
/* line 649, ../sass/screen.scss */
.mfp-wrapper.background-yellow-25 .mfp-subtitles {
  background-color: rgba(255, 255, 0, 0.25) !important;
}
/* line 656, ../sass/screen.scss */
.mfp-wrapper.background-yellow-25 video::cue {
  background-color: rgba(255, 255, 0, 0.25) !important;
}
/* line 665, ../sass/screen.scss */
.mfp-wrapper.background-green-25 .mfp-subtitles {
  background-color: rgba(0, 128, 0, 0.25) !important;
}
/* line 672, ../sass/screen.scss */
.mfp-wrapper.background-green-25 video::cue {
  background-color: rgba(0, 128, 0, 0.25) !important;
}
/* line 681, ../sass/screen.scss */
.mfp-wrapper.background-cyan-25 .mfp-subtitles {
  background-color: rgba(0, 255, 255, 0.25) !important;
}
/* line 688, ../sass/screen.scss */
.mfp-wrapper.background-cyan-25 video::cue {
  background-color: rgba(0, 255, 255, 0.25) !important;
}
/* line 697, ../sass/screen.scss */
.mfp-wrapper.background-blue-25 .mfp-subtitles {
  background-color: rgba(0, 0, 255, 0.25) !important;
}
/* line 704, ../sass/screen.scss */
.mfp-wrapper.background-blue-25 video::cue {
  background-color: rgba(0, 0, 255, 0.25) !important;
}
/* line 713, ../sass/screen.scss */
.mfp-wrapper.background-magenta-25 .mfp-subtitles {
  background-color: rgba(255, 0, 255, 0.25) !important;
}
/* line 720, ../sass/screen.scss */
.mfp-wrapper.background-magenta-25 video::cue {
  background-color: rgba(255, 0, 255, 0.25) !important;
}
/* line 729, ../sass/screen.scss */
.mfp-wrapper.background-red-25 .mfp-subtitles {
  background-color: rgba(255, 0, 0, 0.25) !important;
}
/* line 736, ../sass/screen.scss */
.mfp-wrapper.background-red-25 video::cue {
  background-color: rgba(255, 0, 0, 0.25) !important;
}
/* line 745, ../sass/screen.scss */
.mfp-wrapper.background-black-25 .mfp-subtitles {
  background-color: rgba(0, 0, 0, 0.25) !important;
}
/* line 752, ../sass/screen.scss */
.mfp-wrapper.background-black-25 video::cue {
  background-color: rgba(0, 0, 0, 0.25) !important;
}
/* line 633, ../sass/screen.scss */
.mfp-wrapper.background-white-50 .mfp-subtitles {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
/* line 640, ../sass/screen.scss */
.mfp-wrapper.background-white-50 video::cue {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
/* line 649, ../sass/screen.scss */
.mfp-wrapper.background-yellow-50 .mfp-subtitles {
  background-color: rgba(255, 255, 0, 0.5) !important;
}
/* line 656, ../sass/screen.scss */
.mfp-wrapper.background-yellow-50 video::cue {
  background-color: rgba(255, 255, 0, 0.5) !important;
}
/* line 665, ../sass/screen.scss */
.mfp-wrapper.background-green-50 .mfp-subtitles {
  background-color: rgba(0, 128, 0, 0.5) !important;
}
/* line 672, ../sass/screen.scss */
.mfp-wrapper.background-green-50 video::cue {
  background-color: rgba(0, 128, 0, 0.5) !important;
}
/* line 681, ../sass/screen.scss */
.mfp-wrapper.background-cyan-50 .mfp-subtitles {
  background-color: rgba(0, 255, 255, 0.5) !important;
}
/* line 688, ../sass/screen.scss */
.mfp-wrapper.background-cyan-50 video::cue {
  background-color: rgba(0, 255, 255, 0.5) !important;
}
/* line 697, ../sass/screen.scss */
.mfp-wrapper.background-blue-50 .mfp-subtitles {
  background-color: rgba(0, 0, 255, 0.5) !important;
}
/* line 704, ../sass/screen.scss */
.mfp-wrapper.background-blue-50 video::cue {
  background-color: rgba(0, 0, 255, 0.5) !important;
}
/* line 713, ../sass/screen.scss */
.mfp-wrapper.background-magenta-50 .mfp-subtitles {
  background-color: rgba(255, 0, 255, 0.5) !important;
}
/* line 720, ../sass/screen.scss */
.mfp-wrapper.background-magenta-50 video::cue {
  background-color: rgba(255, 0, 255, 0.5) !important;
}
/* line 729, ../sass/screen.scss */
.mfp-wrapper.background-red-50 .mfp-subtitles {
  background-color: rgba(255, 0, 0, 0.5) !important;
}
/* line 736, ../sass/screen.scss */
.mfp-wrapper.background-red-50 video::cue {
  background-color: rgba(255, 0, 0, 0.5) !important;
}
/* line 745, ../sass/screen.scss */
.mfp-wrapper.background-black-50 .mfp-subtitles {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
/* line 752, ../sass/screen.scss */
.mfp-wrapper.background-black-50 video::cue {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
/* line 633, ../sass/screen.scss */
.mfp-wrapper.background-white-75 .mfp-subtitles {
  background-color: rgba(255, 255, 255, 0.75) !important;
}
/* line 640, ../sass/screen.scss */
.mfp-wrapper.background-white-75 video::cue {
  background-color: rgba(255, 255, 255, 0.75) !important;
}
/* line 649, ../sass/screen.scss */
.mfp-wrapper.background-yellow-75 .mfp-subtitles {
  background-color: rgba(255, 255, 0, 0.75) !important;
}
/* line 656, ../sass/screen.scss */
.mfp-wrapper.background-yellow-75 video::cue {
  background-color: rgba(255, 255, 0, 0.75) !important;
}
/* line 665, ../sass/screen.scss */
.mfp-wrapper.background-green-75 .mfp-subtitles {
  background-color: rgba(0, 128, 0, 0.75) !important;
}
/* line 672, ../sass/screen.scss */
.mfp-wrapper.background-green-75 video::cue {
  background-color: rgba(0, 128, 0, 0.75) !important;
}
/* line 681, ../sass/screen.scss */
.mfp-wrapper.background-cyan-75 .mfp-subtitles {
  background-color: rgba(0, 255, 255, 0.75) !important;
}
/* line 688, ../sass/screen.scss */
.mfp-wrapper.background-cyan-75 video::cue {
  background-color: rgba(0, 255, 255, 0.75) !important;
}
/* line 697, ../sass/screen.scss */
.mfp-wrapper.background-blue-75 .mfp-subtitles {
  background-color: rgba(0, 0, 255, 0.75) !important;
}
/* line 704, ../sass/screen.scss */
.mfp-wrapper.background-blue-75 video::cue {
  background-color: rgba(0, 0, 255, 0.75) !important;
}
/* line 713, ../sass/screen.scss */
.mfp-wrapper.background-magenta-75 .mfp-subtitles {
  background-color: rgba(255, 0, 255, 0.75) !important;
}
/* line 720, ../sass/screen.scss */
.mfp-wrapper.background-magenta-75 video::cue {
  background-color: rgba(255, 0, 255, 0.75) !important;
}
/* line 729, ../sass/screen.scss */
.mfp-wrapper.background-red-75 .mfp-subtitles {
  background-color: rgba(255, 0, 0, 0.75) !important;
}
/* line 736, ../sass/screen.scss */
.mfp-wrapper.background-red-75 video::cue {
  background-color: rgba(255, 0, 0, 0.75) !important;
}
/* line 745, ../sass/screen.scss */
.mfp-wrapper.background-black-75 .mfp-subtitles {
  background-color: rgba(0, 0, 0, 0.75) !important;
}
/* line 752, ../sass/screen.scss */
.mfp-wrapper.background-black-75 video::cue {
  background-color: rgba(0, 0, 0, 0.75) !important;
}
/* line 633, ../sass/screen.scss */
.mfp-wrapper.background-white-100 .mfp-subtitles {
  background-color: white !important;
}
/* line 640, ../sass/screen.scss */
.mfp-wrapper.background-white-100 video::cue {
  background-color: white !important;
}
/* line 649, ../sass/screen.scss */
.mfp-wrapper.background-yellow-100 .mfp-subtitles {
  background-color: yellow !important;
}
/* line 656, ../sass/screen.scss */
.mfp-wrapper.background-yellow-100 video::cue {
  background-color: yellow !important;
}
/* line 665, ../sass/screen.scss */
.mfp-wrapper.background-green-100 .mfp-subtitles {
  background-color: green !important;
}
/* line 672, ../sass/screen.scss */
.mfp-wrapper.background-green-100 video::cue {
  background-color: green !important;
}
/* line 681, ../sass/screen.scss */
.mfp-wrapper.background-cyan-100 .mfp-subtitles {
  background-color: cyan !important;
}
/* line 688, ../sass/screen.scss */
.mfp-wrapper.background-cyan-100 video::cue {
  background-color: cyan !important;
}
/* line 697, ../sass/screen.scss */
.mfp-wrapper.background-blue-100 .mfp-subtitles {
  background-color: blue !important;
}
/* line 704, ../sass/screen.scss */
.mfp-wrapper.background-blue-100 video::cue {
  background-color: blue !important;
}
/* line 713, ../sass/screen.scss */
.mfp-wrapper.background-magenta-100 .mfp-subtitles {
  background-color: magenta !important;
}
/* line 720, ../sass/screen.scss */
.mfp-wrapper.background-magenta-100 video::cue {
  background-color: magenta !important;
}
/* line 729, ../sass/screen.scss */
.mfp-wrapper.background-red-100 .mfp-subtitles {
  background-color: red !important;
}
/* line 736, ../sass/screen.scss */
.mfp-wrapper.background-red-100 video::cue {
  background-color: red !important;
}
/* line 745, ../sass/screen.scss */
.mfp-wrapper.background-black-100 .mfp-subtitles {
  background-color: black !important;
}
/* line 752, ../sass/screen.scss */
.mfp-wrapper.background-black-100 video::cue {
  background-color: black !important;
}
/* line 762, ../sass/screen.scss */
.mfp-wrapper.font-size-100 .mfp-subtitles {
  font-size: 100%;
}
/* line 765, ../sass/screen.scss */
.mfp-wrapper.font-size-100 video::cue {
  font-size: 100%;
}
/* line 770, ../sass/screen.scss */
.mfp-wrapper.font-size-50 .mfp-subtitles {
  font-size: 50%;
}
/* line 773, ../sass/screen.scss */
.mfp-wrapper.font-size-50 video::cue {
  font-size: 50%;
}
/* line 778, ../sass/screen.scss */
.mfp-wrapper.font-size-150 .mfp-subtitles {
  font-size: 150%;
}
/* line 781, ../sass/screen.scss */
.mfp-wrapper.font-size-150 video::cue {
  font-size: 150%;
}
/* line 786, ../sass/screen.scss */
.mfp-wrapper.font-size-200 .mfp-subtitles {
  font-size: 200%;
}
/* line 789, ../sass/screen.scss */
.mfp-wrapper.font-size-200 video::cue {
  font-size: 200%;
}
/* line 794, ../sass/screen.scss */
.mfp-wrapper.font-size-300 .mfp-subtitles {
  font-size: 300%;
}
/* line 797, ../sass/screen.scss */
.mfp-wrapper.font-size-300 video::cue {
  font-size: 300%;
}
/* line 802, ../sass/screen.scss */
.mfp-wrapper.font-size-400 .mfp-subtitles {
  font-size: 400%;
}
/* line 805, ../sass/screen.scss */
.mfp-wrapper.font-size-400 video::cue {
  font-size: 400%;
}
