/* Customization of the MFP access Player
 * 
 * You can simply customize the player by defining a theme_class
 * in the options of the player
 * you can start from this example and compile this sass file
*/

/* sliders */
$timeline-cursor-radius: 15px;
$audio-cursor-radius: 15px;
	
/* buttons */
$btn-play-height: 42px;
$btn-audio-height: 30px;
$btn-speed-width: 75px;
$btn-icomoon-height: 32px;
$btn-modal-close-radius: 15px;


/* colors */
$outline-color: #CD440A;
$background-color: #000;
$timeline-bar-color: #CD440A;/* past time */
$timeline-bar-unbuffer-color: #CCC;
$timeline-bar-buffer-color: #FCC8B4;
$btn-hover: #e54c0b;
$audio-bar-color: #CD440A;/* turned on */
$audio-bar-inactive-color: rgba(33,32,32,.9);
$btn-speed-bgcolor: #333;
$btn-speed-bordercolor: #CD4708;
$btn-active: #FFF;
$btn-disabled: #888;
	
/* modal */
$modal-background-color: rgba(33,32,32,.9);
$modal-header-bgcolor: #E04a0B;
$modal-header-txtcolor: #000;
$modal-border-color: #CD440A;
$modal-text-color: #fff;
$modal-option-active: rgba(73,73,73,.9);
$modal-option-hover: rgba(56,56,56,.9);


/* place here the name of your overiding class */

.mfp-wrapper.ftva_theme{
	background-color: $background-color;
	.control-bar{
		background-color: $background-color;
		.ui-state-default:focus, .ui-widget-content .ui-state-default:focus {
			outline-color: $outline-color;
		}
		.progress-buffer{
			top:-5px;
			left:0;
			right:0;
			width: 100%;
			background-color: #CCC;
			.buffer{
				background-color: $timeline-bar-buffer-color;
			}
		}
		.progress-bar{
			border-radius: 0;
			margin-left: 0;
			margin-right: 0;
			margin-top: -13px;
			width: calc(100% - 1.2em);
			border: none;
			.ui-widget-header{
				background-color: $timeline-bar-color;
				border-radius: 0;
			}
			.ui-slider-handle{
				cursor: pointer;
				border-radius: $timeline-cursor-radius;
				margin-left: 0;
				top: -0.39em;
			}
		}
		.left-part{
			button{
				color: #btn-active;
				&:focus{
					outline-color: $outline-color;
					color: $btn-hover;
				}
				&:hover, &.play:hover, &.pause:hover{
					color: $btn-hover;
				}
				&.play, &.pause{
					font-size: $btn-play-height;
					line-height: 1.07;
				}
			}
			.soundPart{
				button.sound{
					font-size: $btn-audio-height;
					line-height: 1.07;
					display: inline-block;
					width: ($btn-audio-height * 1.3);
					text-align: left;
					&:hover, &:focus{
						color: $btn-hover;
					}
				}
				.sound-range{
					border-color: $audio-bar-color;
					background-color: $audio-bar-inactive-color;
					.ui-widget-header{
						background-color: $audio-bar-color;
						left: -1px;
					}
					.ui-slider-handle{
						height: 1.2em;
						border-radius: $audio-cursor-radius;
						top: -0.39em;
					}
				}
			}
			.timer{
				color: $btn-active;
			}
		}
		select:focus{
			outline-color: $outline-color;
		}
		.right-part{
			select.speed{
				background-color: $btn-speed-bgcolor;
				//border: 1px solid $btn-speed-bordercolor;
				width: $btn-speed-width;

			}
			button{
				font-size: $btn-icomoon-height;
				line-height: ($btn-icomoon-height * 1.07);
				color: $btn-active;
				&:focus, &:hover{
					color: $btn-hover;
				}
				&:focus{
					outline-color: $outline-color;
				}
				&.off{
					color: $btn-disabled;
				}
				&.expand{
					color: $btn-active;
					&:hover{
						color: $btn-hover;
					}
				}
			}
			.ui-widget-content{
				border-color: $modal-border-color;
				background: $modal-background-color;
				color: $modal-text-color;
				.ui-dialog-titlebar{
					background: $modal-header-bgcolor;
					color: $modal-header-txtcolor;
					border-color: $modal-border-color;
					button.ui-button{
						border-radius: $btn-modal-close-radius;
						border-color: $modal-header-txtcolor;
						&:focus{
							outline-color: $modal-header-txtcolor;
						}
					}

				}
			}
		}
	}
	.menu{
		padding: 0.5em;
		li{
			&:hover, &:focus{
				background: $modal-option-hover;
			}
			&.selected{
				background: $modal-option-active;
			}
		}
		h1, h2, h3{
			color: $btn-hover;
		}
		a{
			color: $btn-hover;
		}
	}
}